<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="GoogleURL" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}"/>
    <add key="BingURL" value="https://api.cognitive.microsoft.com/bing/v7.0/search"/>
    <add key="GoogleAPIKey" value="PUT_YOUR_GOOGLE_API_KEY_HERE"/>
    <add key="GoogleCEKey" value="PUT_YOUR_GOOGLE_CUSTOM_ENGINE_KEY_HERE"/>
    <add key="BingKey" value="PUT_YOUR_BING_API_KEY_HERE"/>
  </appSettings>
</configuration>